<br>
            <div class="row">
                <div class="col">
                    <h4>The Order of The Elements (there are but Few Gods)</h4>
                    <ul>
                        <li>Fire - Emotion</li>
                        <li>Earth - Groundedness</li>
                        <li>Water - Formlessness</li>
                        <li>God - Cognition</li>
                        <li>Air - Flight</li>
                    </ul>
                </div>
            </div>

            <br>


            
           



            
            <br>